html, body {
  background-color: #282A36;
}
.input {
  border: 1px solid #F8F8F2;
  border-radius: 8px;
  color: #F8F8F2;
  height: 40px;
  width: 200px;
}

.input:focus {
  outline: auto;
}

.cursor {
  height: 16px;
  width: 2px;
  background-color: #F8F8F2;
}
