.input {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 8px;
  height: 40px;
  width: 200px;
}

.input:focus {
  outline: auto;
}

.cursor {
  height: 16px;
  width: 2px;
  background-color: black;
}
